li{
    align-items: left;
    align-self: left;
    align-content: left;
}
body{
    vertical-align: 0%;
    font-family: 'Open Sans', sans-serif;
    background:#3498db;
    margin: 0 auto 0 auto;  
    width:100%; 
    text-align:center;
    margin: 20px 0px 20px 0px;   
  }
span{
    text-align: left;
    font-size: 14px;
}
.w3-large{
    text-align: left;
    font-size: 22px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.w4-large{
    text-align: lef;
    font-size: 20px;
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;

}
.avatar {
    padding-top: 25px;
    width: 85px;
    height: 85px;
    border-radius: 60%;
    padding-left: 10px;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 450px;
    height: 150px;
    background:#2ecc71;
    border: #27ae60 1px solid;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
.box{
    background:white;
    width:600px;
    height: 600px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 0px 0px;
    border: #2980b9 4px solid; 
}
.checked {
    color: orange;
}
h2{
      color: gold;
      font-size: 16px;
      font-family: 'Times New Roman', Times, serif;
}
h1{
    color: gray;
    font-size: 24px;

}
.stars{
    width: 65px;
    height: 35px; 
    color: transparent;
}